@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Hakuna Sans";
  src: url(./assets/webfonts/Hakuna-Sans.otf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.text-lg, .text-base, .text-sm,.text-xl{
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #0e121e;
}
.Heading {
  font-family: "Hakuna Sans",sans-serif;
}
.header {
  background: linear-gradient(96.42deg, #171c28 -2.64%, #261814 100%);
  font-family: "Lato", sans-serif;
}
.opennav {
  background: linear-gradient(96.42deg, #171c28 -2.64%, #261814 100%);
}
a {
  color: #cac8c8;
  font-size: 18px;
}
.btn {
  background: linear-gradient(96.42deg, #f15a29 -2.64%, #fe9c02 98.17%);
  border-radius: 4px;
            transition: all 0.4s ease-in-out;
  padding: 8px 20px;
  font-size: 14px;
}
.btn:hover {
  transform: translateY(-3px);
  background: linear-gradient(96.42deg, #f15b29c3 -2.64%, #fe9d02b1 98.17%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
.hero {
  position: relative;
  top: 0px;
  left: 0px;
  background: linear-gradient(96.42deg, #171c28 -2.64%, #261814 100%);
}
.banner-logo {
  color: linear-gradient(96.42deg, #f15a29 -2.64%, #fe9c02 98.17%);
}
.heading {
  padding: 48px;
  margin: 25px 0;
}
.heading p {
  font-family: "Lato", sans-serif;
margin: 0px 10px;
}
.logo-span {
  background: linear-gradient(92.09deg, #f15a29 1.76%, #ff9c01 13.94%),
    linear-gradient(0deg, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-heading {
  background: linear-gradient(96.42deg, #f15a29 -2.64%, #fe9c02 98.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  margin: 25px 10px;
  font-weight: 700;
}
.banner-img {
  box-shadow: linear-gradient(96.42deg, #f15a29 -2.64%, #fe9c02 98.17%);
}
.line {
  margin: auto;
}
.line-3 {
  width: 100%;
  opacity: 0.7;
  background: linear-gradient(
    90deg,
    #212121 0%,
    #323b56 52.6%,
    #212121 100%,
    #212121 100%
  );
}
.Slider-bullets ul {
  list-style: none;
}
.Slider-bullets li {
  font-family: "Lato", sans-serif;
}

.Slider-bullets ul li::before {
  content: "\2022";
  color: #f87a50;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -19px;
}
/* slider */
.Slider-Head {
  background: linear-gradient(-56.42deg, #231818 -2.64%, #171c28 98.17%);
}
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: 6px;
  margin-top: 20px;
}
.slide-container{
align-items: center;
justify-content: center;
}

.slider-button {
  font-family: "Lato", sans-serif;
  cursor: pointer;
  font-family: Lato;
  color: #fff;
  padding: 10px 30px;
  font-size: 14px;
  text-decoration: none;
}

.slider-content {
  display: flex;
  flex-direction: row;
  transition: all 1s ease-in-out;
  width: 100%;
  text-align: center;

}


/* SliderCard */
.SliderCard {
transition: all 3s ease-in-out;
  background: linear-gradient(-56.42deg, #231818 -2.64%, #171c28 98.17%);
}
.SliderCard h1 {
  font-family: "Hakuna Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 90px;
}
.SliderCard ul li {
  font-weight: 300;

  color: #ffffff;
}
/* Slid-2 */
.sliderCardReverse {
  background: #171c28;
}
.sliderCardReverse ul {
  list-style: none;
}
.sliderCardReverse li {
box-sizing: border-box;
border: 1px solid;
border-color: #F15A29 #FE9C02;  margin: 12px 0px;
  font-weight: 300;
padding: 1rem;
  border-radius: 3.5px !important;
  color: #ffffff;
}
/* 3 */
.Slider2Card h1 {
  font-family: "Hakuna Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 90px;
}
.Slider2Card {
  background: linear-gradient(-56.42deg, #231818 -2.64%, #171c28 98.17%);}
.Slider2Card ul {
  list-style: none;
}
.Slider2Card li p {
  color: #ffffff;
  font-weight: 300;
}
/* 4 */
.Slider2CardReverse {
  background: linear-gradient(96.42deg, #171c28 -2.64%, #1c2439 98.17%);
  background: #171c28;
}
.Slider2CardReverse p {
  color: #ffffff;
  font-weight: 300;
}
.line-2 {
  border: 1px solid;
  border-image: linear-gradient(to right, #f15a29, #fe9c02) 1;
  width: 20%;
  margin: 20px;
}
/* Who Are We */

.profile-box {
  border: 1px solid;
border: 1px solid;
  border-color: #F15A29 #FE9C02;
border-radius: 3.5px !important;
  margin: 12px 0px;
  font-weight: 300;
    margin: 6px;
}
.title {
  color: #aba6a6;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
}
.box {
  font-weight: 200;
  color: #ffffffdb;
}
.howwedoit {
  background: linear-gradient(96.42deg, #1f1411 -2.64%, #171c28 98.17%);
}
.HowWeDo {
border: 1px solid;
  border-color: #F15A29 #FE9C02;
  border-radius: 3.5px !important;text-align: center;
  padding: 20px;
  margin: 50px;
  background: linear-gradient(0deg, #171c28, #171c28),
    linear-gradient(268.96deg, #f15a29 -2.2%, #fe9c02 97.49%);
}
/* FutureLine */
.FutureLine {
  background: linear-gradient(96.42deg, #1f1411 -2.64%, #171c28 98.17%);
}
.FutureLine ul li p {
  color: #cac2c2;
  background: transparent;
}
/* feature line */
.featureCard {
  background: linear-gradient(96.42deg, #1f1411 -2.64%, #171c28 98.17%);
  color: #929191;
}
.contact {
  background: #171c28;
}
.contact input {
  background-color: #171c28;
border: 1px solid;
  border-color: #F15A29 #FE9C02;
  border-radius: 3.5px !important;
}
.contact textarea {
  background-color: #171c28;
  border: 1px solid;
  border-image: linear-gradient(to right, #f15a29, #fe9c02) 1;
}

/* slider */
.testim {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  transform: translatey(-50%);
}

.testim .wrap {
  position: relative;
  width: 100%;
  max-width: 1020px;
  padding: 40px 20px;
  margin: auto;
}

.testim .arrow {
  display: block;
  position: absolute;
  color: #eee;
  cursor: pointer;
  font-size: 2em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;    
  -ms-transition: all .3s ease-in-out;    
  -moz-transition: all .3s ease-in-out;    
  -o-transition: all .3s ease-in-out;    
  transition: all .3s ease-in-out;
  padding: 5px;
  z-index: 22222222;
}

.testim .arrow:before {
  cursor: pointer;
}

.testim .arrow:hover {
  color: #ea830e;
}
  

.testim .arrow.left {
  left: 10px;
}

.testim .arrow.right {
  right: 10px;
}

.testim .dots {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 60px;
  left: 0;
  display: block;
  z-index: 3333;
  height: 12px;
}

.testim .dots .dot {
  list-style-type: none;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #eee;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;    
  -ms-transition: all .5s ease-in-out;    
  -moz-transition: all .5s ease-in-out;    
  -o-transition: all .5s ease-in-out;    
  transition: all .5s ease-in-out;
  position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
  background: #ea830e;
  border-color: #ea830e;
}

.testim .dots .dot.active {
  -webkit-animation: testim-scale .5s ease-in-out forwards;   
  -moz-animation: testim-scale .5s ease-in-out forwards;   
  -ms-animation: testim-scale .5s ease-in-out forwards;   
  -o-animation: testim-scale .5s ease-in-out forwards;   
  animation: testim-scale .5s ease-in-out forwards;   
}
  
.testim .cont {
  position: relative;
  overflow: hidden;
}

.testim .cont > div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0 70px 0;
  opacity: 0;
}

.testim .cont > div.inactive {
  opacity: 1;
}
  

.testim .cont > div.active {
  position: relative;
  opacity: 1;
}
  

.testim .cont div .img img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
}

.testim .cont div h2 {
  color: #ea830e;
  font-size: 1em;
  margin: 15px 0;
}

.testim .cont div p {
  font-size: 1.15em;
  color: #eee;
  width: 80%;
  margin: auto;
}

.testim .cont div.active .img img {
  -webkit-animation: testim-show .5s ease-in-out forwards;            
  -moz-animation: testim-show .5s ease-in-out forwards;            
  -ms-animation: testim-show .5s ease-in-out forwards;            
  -o-animation: testim-show .5s ease-in-out forwards;            
  animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
  -webkit-animation: testim-content-in .4s ease-in-out forwards;    
  -moz-animation: testim-content-in .4s ease-in-out forwards;    
  -ms-animation: testim-content-in .4s ease-in-out forwards;    
  -o-animation: testim-content-in .4s ease-in-out forwards;    
  animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
  -webkit-animation: testim-content-in .5s ease-in-out forwards;    
  -moz-animation: testim-content-in .5s ease-in-out forwards;    
  -ms-animation: testim-content-in .5s ease-in-out forwards;    
  -o-animation: testim-content-in .5s ease-in-out forwards;    
  animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
  -webkit-animation: testim-hide .5s ease-in-out forwards;            
  -moz-animation: testim-hide .5s ease-in-out forwards;            
  -ms-animation: testim-hide .5s ease-in-out forwards;            
  -o-animation: testim-hide .5s ease-in-out forwards;            
  animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
  -webkit-animation: testim-content-out .4s ease-in-out forwards;        
  -moz-animation: testim-content-out .4s ease-in-out forwards;        
  -ms-animation: testim-content-out .4s ease-in-out forwards;        
  -o-animation: testim-content-out .4s ease-in-out forwards;        
  animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
  -webkit-animation: testim-content-out .5s ease-in-out forwards;    
  -moz-animation: testim-content-out .5s ease-in-out forwards;    
  -ms-animation: testim-content-out .5s ease-in-out forwards;    
  -o-animation: testim-content-out .5s ease-in-out forwards;    
  animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
  0% {
      -webkit-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -webkit-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-moz-keyframes testim-scale {
  0% {
      -moz-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -moz-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-ms-keyframes testim-scale {
  0% {
      -ms-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -ms-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-o-keyframes testim-scale {
  0% {
      -o-box-shadow: 0px 0px 0px 0px #eee;
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      -o-box-shadow: 0px 0px 10px 5px #eee;        
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      -o-box-shadow: 0px 0px 10px 5px #ea830e;        
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      -o-box-shadow: 0px 0px 0px 0px #ea830e;        
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@keyframes testim-scale {
  0% {
      box-shadow: 0px 0px 0px 0px #eee;
  }

  35% {
      box-shadow: 0px 0px 10px 5px #eee;        
  }

  70% {
      box-shadow: 0px 0px 10px 5px #ea830e;        
  }

  100% {
      box-shadow: 0px 0px 0px 0px #ea830e;        
  }
}

@-webkit-keyframes testim-content-in {
  from {
      opacity: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -webkit-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-moz-keyframes testim-content-in {
  from {
      opacity: 0;
      -moz-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -moz-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-ms-keyframes testim-content-in {
  from {
      opacity: 0;
      -ms-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -ms-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@-o-keyframes testim-content-in {
  from {
      opacity: 0;
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      -o-transform: translateY(0);        
      transform: translateY(0);        
  }
}

@keyframes testim-content-in {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  
  to {
      opacity: 1;
      transform: translateY(0);        
  }
}

@-webkit-keyframes testim-content-out {
  from {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -webkit-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-moz-keyframes testim-content-out {
  from {
      opacity: 1;
      -moz-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -moz-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-ms-keyframes testim-content-out {
  from {
      opacity: 1;
      -ms-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      -ms-transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@-o-keyframes testim-content-out {
  from {
      opacity: 1;
      -o-transform: translateY(0);
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
      transform: translateY(-100%);        
  }
}

@keyframes testim-content-out {
  from {
      opacity: 1;
      transform: translateY(0);
  }
  
  to {
      opacity: 0;
      transform: translateY(-100%);        
  }
}

@-webkit-keyframes testim-show {
  from {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
}

@-moz-keyframes testim-show {
  from {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
}

@-ms-keyframes testim-show {
  from {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
}

@-o-keyframes testim-show {
  from {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
}

@keyframes testim-show {
  from {
      opacity: 0;
      transform: scale(0);
  }
  
  to {
      opacity: 1;
      transform: scale(1);       
  }
}

@-webkit-keyframes testim-hide {
  from {
      opacity: 1;
      -webkit-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
}

@-moz-keyframes testim-hide {
  from {
      opacity: 1;
      -moz-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -moz-transform: scale(0);
      transform: scale(0);
  }
}

@-ms-keyframes testim-hide {
  from {
      opacity: 1;
      -ms-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -ms-transform: scale(0);
      transform: scale(0);
  }
}

@-o-keyframes testim-hide {
  from {
      opacity: 1;
      -o-transform: scale(1);       
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      -o-transform: scale(0);
      transform: scale(0);
  }
}

@keyframes testim-hide {
  from {
      opacity: 1;
      transform: scale(1);       
  }
  
  to {
      opacity: 0;
      transform: scale(0);
  }
}

@media all and (max-width: 300px) {
body {
  font-size: 14px;
}
}

@media all and (max-width: 500px) {
.testim .arrow {
  font-size: 1.5em;
}

.testim .cont div p {
  line-height: 25px;
}

}
/* footer */
.footer {


}

@media screen and (max-width: 640px) {
  .banner-heading {
    font-size: 1.7em;
    font-weight: 700;
    margin: 20px 10px;
  }
  .heading {
    padding: 28px 8px;
    margin: 20px 10px;
    width: 100%;
  }

  .slider-buttons {
    margin: 5px;
    flex-direction: column;
    width: 70%;
  }

}

/* Heading overlay line */
.Heading-overlay {
  display: inline-block;
  position: relative;
  z-index: 13 !important;
  text-align: center;
}
.Heading-overlay::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 7px;
  bottom: 6px;
  left: 0;
  text-align: center;
  z-index: -2 !important;
  background: linear-gradient(to right, #f15a29 -2.64%, #fe9c02 98.17%);
}
.Heading-overlay-future {
  display: inline-block;
  position: relative;
  z-index: 13 !important;
  text-align: center;
}
.Heading-overlay-future::after{
  content: "";
  position: absolute;
  width: 97%;
  height: 7px;
  bottom: 2px;
  left: 0;
  text-align: center;
  z-index: -2 !important;
  background: linear-gradient(to right, #f15a29 -2.64%, #fe9c02 98.17%);
}

/* Heading overlay line2 */
.Heading-overlay-1 {
  display: inline-block;
  position: relative;
  z-index: 13 !important;
  text-align: center;
}
.Heading-overlay-1::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 4px;
  bottom: 12px;
  left: 0;
  text-align: center;
  z-index: -2 !important;
  background: linear-gradient(to right, #f15a29 -2.64%, #fe9c02 98.17%);
}

@media screen and (max-width: 400px) {
  .header {
    /* background: linear-gradient(96.42deg, #171c28 -2.64%, #261814 100%); */
    background-color: #121725;
  }
  .banner-heading {
    margin: 15px 10px;
  }

}
